# Text Preprocessing using Bag of Words, TF-IDF, Stemming, Lemmatization, and Stopword Removal

In [41]:
corpus = """
Professor Muhammad Yunus was born on June 28, 1940. He is the founder and managing director of Grameen Bank, which pioneered microcredit. This is a
method of banking where small loans are given to the poor, mostly to women, without collateral, for income-generating activities, to help them get out 
of poverty.

The third of nine children, Prof Yunus was born in the village of Bathua, Chittagong. His father was Haji Muhammad Dula Mia Shawdagar, a jeweller, and
his mother was Sofia Khatun.

"""

In [42]:
!pip install nltk

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: nltk in c:\users\asus\appdata\roaming\python\python313\site-packages (3.9.2)
Requirement already satisfied: click in c:\users\asus\appdata\roaming\python\python313\site-packages (from nltk) (8.2.1)
Requirement already satisfied: joblib in c:\users\asus\appdata\roaming\python\python313\site-packages (from nltk) (1.5.1)
Requirement already satisfied: regex>=2021.8.3 in c:\users\asus\appdata\roaming\python\python313\site-packages (from nltk) (2025.10.23)
Requirement already satisfied: tqdm in c:\users\asus\appdata\roaming\python\python313\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in c:\users\asus\appdata\roaming\python\python313\site-packages (from click->nltk) (0.4.6)

In [43]:
import nltk
nltk.download('punkt')
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [44]:
# Tokenizer

In [45]:
#Sentence Tokenizer
sentences = nltk.sent_tokenize(corpus)
sentences

['\nProfessor Muhammad Yunus was born on June 28, 1940.',
 'He is the founder and managing director of Grameen Bank, which pioneered microcredit.',
 'This is a\nmethod of banking where small loans are given to the poor, mostly to women, without collateral, for income-generating activities, to help them get out \nof poverty.',
 'The third of nine children, Prof Yunus was born in the village of Bathua, Chittagong.',
 'His father was Haji Muhammad Dula Mia Shawdagar, a jeweller, and\nhis mother was Sofia Khatun.']

In [46]:
#word tokenize
nltk.word_tokenize(corpus)

['Professor',
 'Muhammad',
 'Yunus',
 'was',
 'born',
 'on',
 'June',
 '28',
 ',',
 '1940',
 '.',
 'He',
 'is',
 'the',
 'founder',
 'and',
 'managing',
 'director',
 'of',
 'Grameen',
 'Bank',
 ',',
 'which',
 'pioneered',
 'microcredit',
 '.',
 'This',
 'is',
 'a',
 'method',
 'of',
 'banking',
 'where',
 'small',
 'loans',
 'are',
 'given',
 'to',
 'the',
 'poor',
 ',',
 'mostly',
 'to',
 'women',
 ',',
 'without',
 'collateral',
 ',',
 'for',
 'income-generating',
 'activities',
 ',',
 'to',
 'help',
 'them',
 'get',
 'out',
 'of',
 'poverty',
 '.',
 'The',
 'third',
 'of',
 'nine',
 'children',
 ',',
 'Prof',
 'Yunus',
 'was',
 'born',
 'in',
 'the',
 'village',
 'of',
 'Bathua',
 ',',
 'Chittagong',
 '.',
 'His',
 'father',
 'was',
 'Haji',
 'Muhammad',
 'Dula',
 'Mia',
 'Shawdagar',
 ',',
 'a',
 'jeweller',
 ',',
 'and',
 'his',
 'mother',
 'was',
 'Sofia',
 'Khatun',
 '.']

In [47]:
# Token Normalizing / Data Cleaning

In [48]:
# Stemming

In [49]:
from nltk.stem import PorterStemmer
import re

In [50]:
stemmer = PorterStemmer()

In [51]:
sentences = nltk.sent_tokenize(corpus)

In [52]:
stem_sentences = []
for i in range(len(sentences)):
    text = re.sub('[^a-zA-Z0-9]', ' ', sentences[i])
    text = text.lower()
    words = nltk.word_tokenize(text)
    words = [stemmer.stem(word) for word in words]
    stem_sentences.append(' '.join(words))
print(stem_sentences)

['professor muhammad yunu wa born on june 28 1940', 'he is the founder and manag director of grameen bank which pioneer microcredit', 'thi is a method of bank where small loan are given to the poor mostli to women without collater for incom gener activ to help them get out of poverti', 'the third of nine children prof yunu wa born in the villag of bathua chittagong', 'hi father wa haji muhammad dula mia shawdagar a jewel and hi mother wa sofia khatun']

In [53]:
# Lemmatization

In [54]:
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [55]:
lemmatizer = WordNetLemmatizer()

In [56]:
sentence_lem = []
for i in range(len(sentences)):
    text = re.sub('[^a-zA-Z0-9]', ' ', sentences[i])
    text = text.lower()
    words = nltk.word_tokenize(text)
    words = [lemmatizer.lemmatize(word) for word in words]
    sentence_lem.append(' '.join(words))
print(sentence_lem)

['professor muhammad yunus wa born on june 28 1940', 'he is the founder and managing director of grameen bank which pioneered microcredit', 'this is a method of banking where small loan are given to the poor mostly to woman without collateral for income generating activity to help them get out of poverty', 'the third of nine child prof yunus wa born in the village of bathua chittagong', 'his father wa haji muhammad dula mia shawdagar a jeweller and his mother wa sofia khatun']

In [57]:
# Stopwords Removal

In [58]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [59]:
from nltk.corpus import stopwords

In [60]:
stop_words = stopwords.words('english')

In [61]:
stop_words

['a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 "he'd",
 "he'll",
 'her',
 'here',
 'hers',
 'herself',
 "he's",
 'him',
 'himself',
 'his',
 'how',
 'i',
 "i'd",
 'if',
 "i'll",
 "i'm",
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it'd",
 "it'll",
 "it's",
 'its',
 'itself',
 "i've",
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she'd",
 "she'll",
 "she's",
 'should',
 'shouldn',
 "shouldn't",
 "should've",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 "they'd",
 "they'll",
 "they're",
 "they've",
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 "we'd",
 "we'll",
 "we're",
 'were',
 'weren',
 "weren't",
 "we've",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 'your',
 "you're",
 'yours',
 'yourself',
 'yourselves',
 "you've"]

In [62]:
# Token to Feature

In [63]:
# Count Vectorizer

In [64]:
from sklearn.feature_extraction.text import CountVectorizer

In [65]:
cv = CountVectorizer(binary=True, ngram_range=(1, 2))

In [66]:
corpus = []
for i in range(len(sentences)):
    text = re.sub('[^a-zA-Z0-9]', ' ', sentences[i])
    text = text.lower()
    words = text.split()
    words = [stemmer.stem(word) for word in words if not word in stop_words]
    print(words)
    corpus.append(' '.join(words))

['professor', 'muhammad', 'yunu', 'born', 'june', '28', '1940']
['founder', 'manag', 'director', 'grameen', 'bank', 'pioneer', 'microcredit']
['method', 'bank', 'small', 'loan', 'given', 'poor', 'mostli', 'women', 'without', 'collater', 'incom', 'gener', 'activ', 'help', 'get', 'poverti']
['third', 'nine', 'children', 'prof', 'yunu', 'born', 'villag', 'bathua', 'chittagong']
['father', 'haji', 'muhammad', 'dula', 'mia', 'shawdagar', 'jewel', 'mother', 'sofia', 'khatun']

In [67]:
# applies Bag of Words

In [68]:
X = cv.fit_transform(corpus)

In [69]:
print(X)

<Compressed Sparse Row sparse matrix of dtype 'int64'
	with 93 stored elements and shape (5, 88)>
  Coords	Values
  (0, 70)	1
  (0, 58)	1
  (0, 86)	1
  (0, 10)	1
  (0, 42)	1
  (0, 1)	1
  (0, 0)	1
  (0, 71)	1
  (0, 60)	1
  (0, 87)	1
  (0, 11)	1
  (0, 43)	1
  (0, 2)	1
  (1, 24)	1
  (1, 47)	1
  (1, 18)	1
  (1, 32)	1
  (1, 5)	1
  (1, 63)	1
  (1, 53)	1
  (1, 25)	1
  (1, 48)	1
  (1, 19)	1
  (1, 33)	1
  (1, 6)	1
  :	:
  (3, 62)	1
  (3, 14)	1
  (3, 69)	1
  (3, 12)	1
  (3, 81)	1
  (3, 9)	1
  (4, 58)	1
  (4, 22)	1
  (4, 34)	1
  (4, 20)	1
  (4, 51)	1
  (4, 72)	1
  (4, 40)	1
  (4, 56)	1
  (4, 76)	1
  (4, 44)	1
  (4, 23)	1
  (4, 35)	1
  (4, 59)	1
  (4, 21)	1
  (4, 52)	1
  (4, 73)	1
  (4, 41)	1
  (4, 57)	1
  (4, 77)	1

In [70]:
cv.vocabulary_

{'professor': 70,
 'muhammad': 58,
 'yunu': 86,
 'born': 10,
 'june': 42,
 '28': 1,
 '1940': 0,
 'professor muhammad': 71,
 'muhammad yunu': 60,
 'yunu born': 87,
 'born june': 11,
 'june 28': 43,
 '28 1940': 2,
 'founder': 24,
 'manag': 47,
 'director': 18,
 'grameen': 32,
 'bank': 5,
 'pioneer': 63,
 'microcredit': 53,
 'founder manag': 25,
 'manag director': 48,
 'director grameen': 19,
 'grameen bank': 33,
 'bank pioneer': 6,
 'pioneer microcredit': 64,
 'method': 49,
 'small': 74,
 'loan': 45,
 'given': 30,
 'poor': 65,
 'mostli': 54,
 'women': 84,
 'without': 82,
 'collater': 16,
 'incom': 38,
 'gener': 26,
 'activ': 3,
 'help': 36,
 'get': 28,
 'poverti': 67,
 'method bank': 50,
 'bank small': 7,
 'small loan': 75,
 'loan given': 46,
 'given poor': 31,
 'poor mostli': 66,
 'mostli women': 55,
 'women without': 85,
 'without collater': 83,
 'collater incom': 17,
 'incom gener': 39,
 'gener activ': 27,
 'activ help': 4,
 'help get': 37,
 'get poverti': 29,
 'third': 78,
 'nine': 61,
 'children': 13,
 'prof': 68,
 'villag': 80,
 'bathua': 8,
 'chittagong': 15,
 'third nine': 79,
 'nine children': 62,
 'children prof': 14,
 'prof yunu': 69,
 'born villag': 12,
 'villag bathua': 81,
 'bathua chittagong': 9,
 'father': 22,
 'haji': 34,
 'dula': 20,
 'mia': 51,
 'shawdagar': 72,
 'jewel': 40,
 'mother': 56,
 'sofia': 76,
 'khatun': 44,
 'father haji': 23,
 'haji muhammad': 35,
 'muhammad dula': 59,
 'dula mia': 21,
 'mia shawdagar': 52,
 'shawdagar jewel': 73,
 'jewel mother': 41,
 'mother sofia': 57,
 'sofia khatun': 77}

In [71]:
import pandas as pd

feature_names = cv.get_feature_names_out()
x_array = X.toarray()

print("Unique word list: \n",feature_names)
print("Bag of words matrix: \n",x_array)

df = pd.DataFrame(data=x_array, columns=feature_names, index=corpus)
print(df)

Unique word list:
 ['1940' '28' '28 1940' 'activ' 'activ help' 'bank' 'bank pioneer'
 'bank small' 'bathua' 'bathua chittagong' 'born' 'born june'
 'born villag' 'children' 'children prof' 'chittagong' 'collater'
 'collater incom' 'director' 'director grameen' 'dula' 'dula mia' 'father'
 'father haji' 'founder' 'founder manag' 'gener' 'gener activ' 'get'
 'get poverti' 'given' 'given poor' 'grameen' 'grameen bank' 'haji'
 'haji muhammad' 'help' 'help get' 'incom' 'incom gener' 'jewel'
 'jewel mother' 'june' 'june 28' 'khatun' 'loan' 'loan given' 'manag'
 'manag director' 'method' 'method bank' 'mia' 'mia shawdagar'
 'microcredit' 'mostli' 'mostli women' 'mother' 'mother sofia' 'muhammad'
 'muhammad dula' 'muhammad yunu' 'nine' 'nine children' 'pioneer'
 'pioneer microcredit' 'poor' 'poor mostli' 'poverti' 'prof' 'prof yunu'
 'professor' 'professor muhammad' 'shawdagar' 'shawdagar jewel' 'small'
 'small loan' 'sofia' 'sofia khatun' 'third' 'third nine' 'villag'
 'villag bathua' 'without' 'without collater' 'women' 'women without'
 'yunu' 'yunu born']
Bag of words matrix:
 [[1 1 1 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 1 1
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1]
 [0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 1 1 0 0 0 0 0 0 1 1 0 0
  0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 1 1 1 0 1 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 1 1 1 1 1 0 0 0 0
  1 1 1 1 0 0 0 0 0 1 1 0 0 1 1 0 0 0 1 1 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0
  0 0 1 1 0 0 0 0 0 0 1 1 1 1 0 0]
 [0 0 0 0 0 0 0 0 1 1 1 0 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 1 1 0 0
  0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 1]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 0 0 0 0 0 0 0 0 0 0 1 1
  0 0 0 0 1 1 0 0 1 0 0 0 0 0 0 1 1 0 0 0 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0
  1 1 0 0 1 1 0 0 0 0 0 0 0 0 0 0]]
                                                    1940  28  28 1940  activ  \
professor muhammad yunu born june 28 1940              1   1        1      0
founder manag director grameen bank pioneer mic...     0   0        0      0
method bank small loan given poor mostli women ...     0   0        0      1
third nine children prof yunu born villag bathu...     0   0        0      0
father haji muhammad dula mia shawdagar jewel m...     0   0        0      0

                                                    activ help  bank  \
professor muhammad yunu born june 28 1940                    0     0
founder manag director grameen bank pioneer mic...           0     1
method bank small loan given poor mostli women ...           1     1
third nine children prof yunu born villag bathu...           0     0
father haji muhammad dula mia shawdagar jewel m...           0     0

                                                    bank pioneer  bank small  \
professor muhammad yunu born june 28 1940                      0           0
founder manag director grameen bank pioneer mic...             1           0
method bank small loan given poor mostli women ...             0           1
third nine children prof yunu born villag bathu...             0           0
father haji muhammad dula mia shawdagar jewel m...             0           0

                                                    bathua  bathua chittagong  \
professor muhammad yunu born june 28 1940                0                  0
founder manag director grameen bank pioneer mic...       0                  0
method bank small loan given poor mostli women ...       0                  0
third nine children prof yunu born villag bathu...       1                  1
father haji muhammad dula mia shawdagar jewel m...       0                  0

                                                    ...  third  third nine  \
professor muhammad yunu born june 28 1940           ...      0           0
founder manag director grameen bank pioneer mic...  ...      0           0
method bank small loan given poor mostli women ...  ...      0           0
third nine children prof yunu born villag bathu...  ...      1           1
father haji muhammad dula mia shawdagar jewel m...  ...      0           0

                                                    villag  villag bathua  \
professor muhammad yunu born june 28 1940                0              0
founder manag director grameen bank pioneer mic...       0              0
method bank small loan given poor mostli women ...       0              0
third nine children prof yunu born villag bathu...       1              1
father haji muhammad dula mia shawdagar jewel m...       0              0

                                                    without  without collater  \
professor muhammad yunu born june 28 1940                 0                 0
founder manag director grameen bank pioneer mic...        0                 0
method bank small loan given poor mostli women ...        1                 1
third nine children prof yunu born villag bathu...        0                 0
father haji muhammad dula mia shawdagar jewel m...        0                 0

                                                    women  women without  \
professor muhammad yunu born june 28 1940               0              0
founder manag director grameen bank pioneer mic...      0              0
method bank small loan given poor mostli women ...      1              1
third nine children prof yunu born villag bathu...      0              0
father haji muhammad dula mia shawdagar jewel m...      0              0

                                                    yunu  yunu born
professor muhammad yunu born june 28 1940              1          1
founder manag director grameen bank pioneer mic...     0          0
method bank small loan given poor mostli women ...     0          0
third nine children prof yunu born villag bathu...     1          1
father haji muhammad dula mia shawdagar jewel m...     0          0

[5 rows x 88 columns]

In [72]:
# TF-IDF Vectorizer

In [73]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [74]:
tf_idf = TfidfVectorizer()

In [75]:
x = tf_idf.fit_transform(corpus)

In [76]:
print(x)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 49 stored elements and shape (5, 45)>
  Coords	Values
  (0, 36)	0.40986538560224284
  (0, 30)	0.33067681238156543
  (0, 44)	0.33067681238156543
  (0, 5)	0.33067681238156543
  (0, 21)	0.40986538560224284
  (0, 1)	0.40986538560224284
  (0, 0)	0.40986538560224284
  (1, 12)	0.38775666010579296
  (1, 24)	0.38775666010579296
  (1, 9)	0.38775666010579296
  (1, 16)	0.38775666010579296
  (1, 3)	0.3128396318588854
  (1, 32)	0.38775666010579296
  (1, 27)	0.38775666010579296
  (2, 3)	0.20393539986751064
  (2, 25)	0.2527726716084208
  (2, 38)	0.2527726716084208
  (2, 23)	0.2527726716084208
  (2, 15)	0.2527726716084208
  (2, 33)	0.2527726716084208
  (2, 28)	0.2527726716084208
  (2, 43)	0.2527726716084208
  (2, 42)	0.2527726716084208
  (2, 8)	0.2527726716084208
  (2, 19)	0.2527726716084208
  (2, 13)	0.2527726716084208
  (2, 2)	0.2527726716084208
  (2, 18)	0.2527726716084208
  (2, 14)	0.2527726716084208
  (2, 34)	0.2527726716084208
  (3, 44)	0.28001127926354535
  (3, 5)	0.28001127926354535
  (3, 40)	0.34706676322953556
  (3, 31)	0.34706676322953556
  (3, 6)	0.34706676322953556
  (3, 35)	0.34706676322953556
  (3, 41)	0.34706676322953556
  (3, 4)	0.34706676322953556
  (3, 7)	0.34706676322953556
  (4, 30)	0.2597037559047736
  (4, 11)	0.3218961114619563
  (4, 17)	0.3218961114619563
  (4, 10)	0.3218961114619563
  (4, 26)	0.3218961114619563
  (4, 37)	0.3218961114619563
  (4, 20)	0.3218961114619563
  (4, 29)	0.3218961114619563
  (4, 39)	0.3218961114619563
  (4, 22)	0.3218961114619563

In [77]:
tf_idf.vocabulary_

{'professor': 36,
 'muhammad': 30,
 'yunu': 44,
 'born': 5,
 'june': 21,
 '28': 1,
 '1940': 0,
 'founder': 12,
 'manag': 24,
 'director': 9,
 'grameen': 16,
 'bank': 3,
 'pioneer': 32,
 'microcredit': 27,
 'method': 25,
 'small': 38,
 'loan': 23,
 'given': 15,
 'poor': 33,
 'mostli': 28,
 'women': 43,
 'without': 42,
 'collater': 8,
 'incom': 19,
 'gener': 13,
 'activ': 2,
 'help': 18,
 'get': 14,
 'poverti': 34,
 'third': 40,
 'nine': 31,
 'children': 6,
 'prof': 35,
 'villag': 41,
 'bathua': 4,
 'chittagong': 7,
 'father': 11,
 'haji': 17,
 'dula': 10,
 'mia': 26,
 'shawdagar': 37,
 'jewel': 20,
 'mother': 29,
 'sofia': 39,
 'khatun': 22}

In [79]:
feature_names = tf_idf.get_feature_names_out()
x_array = x.toarray()

print("Unique word list: \n", feature_names)
print("Bag of Words Matrix: \n", x_array)

df = pd.DataFrame(data=x_array, columns=feature_names, index=corpus)
print(df)

Unique word list:
 ['1940' '28' 'activ' 'bank' 'bathua' 'born' 'children' 'chittagong'
 'collater' 'director' 'dula' 'father' 'founder' 'gener' 'get' 'given'
 'grameen' 'haji' 'help' 'incom' 'jewel' 'june' 'khatun' 'loan' 'manag'
 'method' 'mia' 'microcredit' 'mostli' 'mother' 'muhammad' 'nine'
 'pioneer' 'poor' 'poverti' 'prof' 'professor' 'shawdagar' 'small' 'sofia'
 'third' 'villag' 'without' 'women' 'yunu']
Bag of Words Matrix:
 [[0.40986539 0.40986539 0.         0.         0.         0.33067681
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.40986539 0.         0.
  0.         0.         0.         0.         0.         0.
  0.33067681 0.         0.         0.         0.         0.
  0.40986539 0.         0.         0.         0.         0.
  0.         0.         0.33067681]
 [0.         0.         0.         0.31283963 0.         0.
  0.         0.         0.         0.38775666 0.         0.
  0.38775666 0.         0.         0.         0.38775666 0.
  0.         0.         0.         0.         0.         0.
  0.38775666 0.         0.         0.38775666 0.         0.
  0.         0.         0.38775666 0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.        ]
 [0.         0.         0.25277267 0.2039354  0.         0.
  0.         0.         0.25277267 0.         0.         0.
  0.         0.25277267 0.25277267 0.25277267 0.         0.
  0.25277267 0.25277267 0.         0.         0.         0.25277267
  0.         0.25277267 0.         0.         0.25277267 0.
  0.         0.         0.         0.25277267 0.25277267 0.
  0.         0.         0.25277267 0.         0.         0.
  0.25277267 0.25277267 0.        ]
 [0.         0.         0.         0.         0.34706676 0.28001128
  0.34706676 0.34706676 0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.34706676 0.         0.         0.         0.34706676
  0.         0.         0.         0.         0.34706676 0.34706676
  0.         0.         0.28001128]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.32189611 0.32189611
  0.         0.         0.         0.         0.         0.32189611
  0.         0.         0.32189611 0.         0.32189611 0.
  0.         0.         0.32189611 0.         0.         0.32189611
  0.25970376 0.         0.         0.         0.         0.
  0.         0.32189611 0.         0.32189611 0.         0.
  0.         0.         0.        ]]
                                                        1940        28  \
professor muhammad yunu born june 28 1940           0.409865  0.409865
founder manag director grameen bank pioneer mic...  0.000000  0.000000
method bank small loan given poor mostli women ...  0.000000  0.000000
third nine children prof yunu born villag bathu...  0.000000  0.000000
father haji muhammad dula mia shawdagar jewel m...  0.000000  0.000000

                                                       activ      bank  \
professor muhammad yunu born june 28 1940           0.000000  0.000000
founder manag director grameen bank pioneer mic...  0.000000  0.312840
method bank small loan given poor mostli women ...  0.252773  0.203935
third nine children prof yunu born villag bathu...  0.000000  0.000000
father haji muhammad dula mia shawdagar jewel m...  0.000000  0.000000

                                                      bathua      born  \
professor muhammad yunu born june 28 1940           0.000000  0.330677
founder manag director grameen bank pioneer mic...  0.000000  0.000000
method bank small loan given poor mostli women ...  0.000000  0.000000
third nine children prof yunu born villag bathu...  0.347067  0.280011
father haji muhammad dula mia shawdagar jewel m...  0.000000  0.000000

                                                    children  chittagong  \
professor muhammad yunu born june 28 1940           0.000000    0.000000
founder manag director grameen bank pioneer mic...  0.000000    0.000000
method bank small loan given poor mostli women ...  0.000000    0.000000
third nine children prof yunu born villag bathu...  0.347067    0.347067
father haji muhammad dula mia shawdagar jewel m...  0.000000    0.000000

                                                    collater  director  ...  \
professor muhammad yunu born june 28 1940           0.000000  0.000000  ...
founder manag director grameen bank pioneer mic...  0.000000  0.387757  ...
method bank small loan given poor mostli women ...  0.252773  0.000000  ...
third nine children prof yunu born villag bathu...  0.000000  0.000000  ...
father haji muhammad dula mia shawdagar jewel m...  0.000000  0.000000  ...

                                                        prof  professor  \
professor muhammad yunu born june 28 1940           0.000000   0.409865
founder manag director grameen bank pioneer mic...  0.000000   0.000000
method bank small loan given poor mostli women ...  0.000000   0.000000
third nine children prof yunu born villag bathu...  0.347067   0.000000
father haji muhammad dula mia shawdagar jewel m...  0.000000   0.000000

                                                    shawdagar     small  \
professor muhammad yunu born june 28 1940            0.000000  0.000000
founder manag director grameen bank pioneer mic...   0.000000  0.000000
method bank small loan given poor mostli women ...   0.000000  0.252773
third nine children prof yunu born villag bathu...   0.000000  0.000000
father haji muhammad dula mia shawdagar jewel m...   0.321896  0.000000

                                                       sofia     third  \
professor muhammad yunu born june 28 1940           0.000000  0.000000
founder manag director grameen bank pioneer mic...  0.000000  0.000000
method bank small loan given poor mostli women ...  0.000000  0.000000
third nine children prof yunu born villag bathu...  0.000000  0.347067
father haji muhammad dula mia shawdagar jewel m...  0.321896  0.000000

                                                      villag   without  \
professor muhammad yunu born june 28 1940           0.000000  0.000000
founder manag director grameen bank pioneer mic...  0.000000  0.000000
method bank small loan given poor mostli women ...  0.000000  0.252773
third nine children prof yunu born villag bathu...  0.347067  0.000000
father haji muhammad dula mia shawdagar jewel m...  0.000000  0.000000

                                                       women      yunu
professor muhammad yunu born june 28 1940           0.000000  0.330677
founder manag director grameen bank pioneer mic...  0.000000  0.000000
method bank small loan given poor mostli women ...  0.252773  0.000000
third nine children prof yunu born villag bathu...  0.000000  0.280011
father haji muhammad dula mia shawdagar jewel m...  0.000000  0.000000

[5 rows x 45 columns]

# Sentiment Analysis using TF-IDF features and Neural Network MLP (instead of Logistic Regression)

In [136]:
import kagglehub
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import LabelEncoder
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.callbacks import EarlyStopping

In [137]:
# 2.Load Dataset from Kaggle

path = kagglehub.dataset_download("lakshmi25npathi/imdb-dataset-of-50k-movie-reviews")

# Load CSV
df = pd.read_csv(f"{path}/IMDB Dataset.csv")
print(df.head())

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [138]:
# 3.Clean Data
# Remove missing or empty reviews
df = df.dropna(subset=['review', 'sentiment'])
df = df[df['review'].str.strip() != ""]

print("NaN values left:\n", df.isna().sum())

NaN values left:
 review       0
sentiment    0
dtype: int64

In [139]:
# 4.Encode Sentiments
le = LabelEncoder()
df['sentiment'] = le.fit_transform(df['sentiment'])  # positive=1, negative=0

In [140]:
# 5. Split Data
X_train, X_test, y_train, y_test = train_test_split(
    df['review'], df['sentiment'],
    test_size=0.2,
    random_state=42
)

print("Train size:", len(X_train))
print("Test size:", len(X_test))

Train size: 40000
Test size: 10000

In [141]:
# 6. Convert Text to Bag of Words
vectorizer = CountVectorizer(max_features=5000, stop_words='english')
X_train_vec = vectorizer.fit_transform(X_train).toarray()
X_test_vec = vectorizer.transform(X_test).toarray()

In [142]:
# 7. Build Neural Network
model = Sequential([
    Dense(128, activation='relu', input_shape=(X_train_vec.shape[1],)),
    Dropout(0.3),
    Dense(64, activation='relu'),
    Dense(1, activation='sigmoid')
])

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

C:\Users\ASUS\AppData\Roaming\Python\Python313\site-packages\keras\src\layers\core\dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [143]:
# 8.Train the Model
es = EarlyStopping(monitor='val_loss', patience=2, restore_best_weights=True)

history = model.fit(
    X_train_vec, y_train,
    epochs=6,
    batch_size=256,
    validation_split=0.1,
    callbacks=[es],
    verbose=2
)

Epoch 1/6
141/141 - 2s - 15ms/step - accuracy: 0.8448 - loss: 0.3725 - val_accuracy: 0.8888 - val_loss: 0.2862
Epoch 2/6
141/141 - 1s - 8ms/step - accuracy: 0.9119 - loss: 0.2243 - val_accuracy: 0.8805 - val_loss: 0.2905
Epoch 3/6
141/141 - 1s - 8ms/step - accuracy: 0.9423 - loss: 0.1569 - val_accuracy: 0.8795 - val_loss: 0.3195

In [134]:
# 9. Evaluate
loss, acc = model.evaluate(X_test_vec, y_test, verbose=0)
print(f"Test Loss: {loss:.4f} | Test Accuracy: {acc:.4f}")

Test Loss: 0.2878 | Test Accuracy: 0.8820

In [135]:
# 10. Predict & Report

from sklearn.metrics import classification_report

y_pred = (model.predict(X_test_vec) > 0.5).astype("int32")
print("\nClassification Report:\n")
print(classification_report(y_test, y_pred))

313/313 ━━━━━━━━━━━━━━━━━━━━ 0s 980us/step

Classification Report:

              precision    recall  f1-score   support

           0       0.87      0.90      0.88      4961
           1       0.90      0.87      0.88      5039

    accuracy                           0.88     10000
   macro avg       0.88      0.88      0.88     10000
weighted avg       0.88      0.88      0.88     10000

In [ ]:
Accuracy around 88–90%

Classification report (Precision, Recall, F1)

A working Neural Network trained on Bag of Words features